/*.navbar-brand
{
    position: absolute;
    text-align: center;
    margin: auto;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 9px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    left: 0;
}*/

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #a5172a;
}

.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar_top_margin {
	margin-top: 1px;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-size: 22px;
	font-weight: bold;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 15px;
    margin-right: 5px;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #a5172a;
}

.navbar-outer {
  width:100%;
  height: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: bold;
}

body {
    padding-top: 80px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f2f2f2;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*.pdf_name {
	text-align: center;
}

.choice {
	text-align: center;
}

.pdf_border {
	margin: auto;
}

.row_border {
	margin: 25px 0px 25px 0px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}*/

.last-child {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.panel_ {
    position: absolute;
    bottom: 10px;
    width: 84%;
    margin: auto;
}

.btn_margin {
    margin-top: 10px;
}

.bk_gnd_color {
    background-color: #d9d9d9;
    margin-bottom: 10px;
}
.row_ {
    margin-bottom: 10px;
    margin-top: -20px;    
}
.likers {
    width: 50%;
    float: left;
}
.likers_ {
    padding-top: 10px;
    margin-left: 1px;
}
.like_btn {
    margin-left: 9.9%;
    width:7%;
    float: left;
}
.arrow_margin {
    margin-top: 25%;
}
.arrow_margin_l {
    margin-left: 1px;
}
//

body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: 'Josefin-Sans';
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: 'Josefin-Sans';
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
