<html>
	<head>
		<!--
		<%= stylesheet_link_tag  'bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag  'bootstrap-theme.css', media: 'all', 'data-turbolinks-track' => true %>	
		<%= stylesheet_link_tag  'p4.css', media: 'all', 'data-turbolinks-track' => true %>
		-->
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href = "css/bootstrap.css" rel = "stylesheet">
		<link href = "css/bootstrap-theme.css" rel = "stylesheet">
		<link href = "css/p4 css.css" rel = "stylesheet">
		<title>PDF Viewer | PDFName</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse  navbar-fixed-top navbar-outer" role="navigation">
					<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
					</button>    
					</div>
					<div class="navbar-collapse collapse">
	    			<ul class="nav navbar-nav navbar-left col-md-5">
	        			<li><a href="#home"><img class="displayed" height="70" width="70" src="https://cdn4.iconfinder.com/data/icons/CS5/512/ACP_PDF%202_file_document.png" alt="WebSiteIcon"></a></li>
	        			<li class="navbar_top_margin last-child"><a href="#homepage">PDF Viewer</a></li>
	    			</ul>


	    			<div class="col-md-2">
	  					<a href="#Upload" class="btn btn-block btn-lg btn-success navbar_top_margin">Upload File</a>
	  				</div>
	    			<ul class="nav navbar-nav navbar-right col-md-5">
	    				<li class="navbar-right"><a href="#logout">Log Out</a></li>
	      				<li class="navbar-right last-child"><a href="#accountdetails">AccountName</a></li>
	    			</ul>
	    		</div>
			</nav>
			<div class="bk_gnd_color">
			<div class="row">

				
				<div class="col-md-1 arrow_margin">
					<i class="fa fa-arrow-left fa-5x"></i>
				</div>
				<div class="col-md-10 displayed">
					<img width="100%" height="100%" src="caat.jpg" alt="Photo">
				</div>	
				<div class="col-md-1 arrow_margin">
					<i class="fa fa-arrow-right fa-5x"></i>
				</div>
			</div>
			<div class="row"><!--
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<button type="submit" class="btn btn-success btn_margin"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
				</div>
				<div class="col-md-3 likers">
					<h5>X People like this PDF</h5>
				</div>
				<div class="col-md-1"></div>-->
				<div class="like_btn">
					<button type="submit" class="btn btn-success btn_margin"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
				</div>
				<div class="likers">
					<h5 class="likers_">X People like this PDF</h5>
				</div>
			</div>
			<div class="row ">
    			<div class="col-md-1"></div>
    			<div class="col-md-6 row_">
					<div class="widget-area no-padding blank">
						<div class="status-upload">
							<form>
								<textarea placeholder="Write your comment here" ></textarea>
							<!--	<ul>
									<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
									<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
									<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
									<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
								</ul>  -->
								<button type="submit" class="btn btn-sm btn-success">Comment</button>
							</form>
						</div><!-- Status Upload  -->
					</div><!-- Widget Area -->
				</div>
    		</div>
    		</div>
		  	 <div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">Click on Contact Us button xD</div>
						<div class="panel-body">This Website is made by Shabab el CSE - Faculty of Engineering Ainshams University
						<a href="http://imgur.com/REoYL9j" class="btn btn-sm btn-danger pull-right">Contact Us</a>	
					</div>
				</div>
			</div>
		</div>
	</body>
</html>